
.App{
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/src/assets/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  font-family: sans-serif;
  text-shadow: 2px -2px 3px rgba(255, 255, 255, 0.7);
  
}

.weatherCard{
  font-size: 1rem;
  border:0.5px solid #0D6EFD;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  background-color: rgba(7, 0, 209, 0.15);
  border-radius: 20px;
  box-shadow:  20px -15px 40px   rgba(0, 0, 0, 0.3);
}

.watherCard-body ul{
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
button{
  box-shadow: 5px -5px 9px rgba(255, 255, 255, 0.7);
}
.weatherCard p{
margin: 0;

}
.weatherCard li{
  display: flex;
  font-weight: 200;
  
}
.weatherCard .item{
  font-weight: 600;
  color: #0D6EFD;
  }

.t-stroke {
  
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #110e57;
    -webkit-text-stroke-color: #0D6EFD;
  }
  .t-stroke-temp {
    padding: 1rem;
    font-size: 2rem;
    color: transparent;
    -moz-text-stroke-width: 2.5px;
    -webkit-text-stroke-width: 2.3px;
    -moz-text-stroke-color: #110e57;
    -webkit-text-stroke-color: #0D6EFD;
  }
  
  .t-shadow {
    text-shadow: 6px -6px 2px rgba(255, 255, 255, 0.7);
  }
  .t-shadow-temp {
    text-shadow: 5px -5px 2px rgba(255, 255, 255, 0.7);
  }

.img-weather{
animation: animationImag infinite 5s;
}

@keyframes animationImag{
  0%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(20px);
  }

}
@media (min-width: 750px){
.watherCard-body{
  display: flex;
  
}
.watherCard-body ul{
  text-align: left;
  padding: 3rem 0rem 3rem 2rem;
}
}

